@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600;700&display=swap');
*{margin:0;
    padding: 0;
    box-sizing: content-box;
}
.fondoDelSitio {background: url(../assets/FONDO.jpg) no-repeat center center  ;  
    -webkit-background-size: cover;
    background-size: cover;
}
body {
    display: grid;
    grid-template-areas: "header header header"
                           "izquierda main derecha"
                           "footer footer footer";
    grid-template-columns:  auto auto auto;

}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
aside :first-of-type 
{
    grid-area: izquierda
    ;max-height: 800px;

}
aside :last-of-type
{
    grid-area: derecha;
    max-height: 800px  ;
}